{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "printWidth": 80,
  "useTabs": true,
  "trailingComma": "all",
  "semi": false,
  "jsxSingleQuote": true,
  "quoteProps": "consistent"
}
